.overflow {
    overflow: hidden;

    &:has(.swiper-btns) {
        height: 1em;
    }

    &:has(.menu-line) {
        height: 3em;
        min-height: 46px;
    }
}

.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    gap: $margin;

    @media (max-width:1024px) {
        gap: 10px;
    }

    h1 {
        @include px-to-vw('font-size', 24, 20);

        span {
            @include px-to-vw('font-size', 140, 44);
        }
    }
}

.text-box {
    padding-inline: $margin;
    padding-top: calc($margin * 8);
    padding-bottom: calc($margin * 5);

    @media (max-width:1024px) {
        padding-top: 160px;
        padding-bottom: 70px;
        padding-inline: 10px;
    }

    h1 {
        margin-bottom: calc($margin * 4);

        @media (max-width:1024px) {
            margin-bottom: 40px;
        }
    }
}

.privacy {
    display: flex;
    flex-direction: column;
    gap: calc($margin * 2.5);

    @media (max-width:1024px) {
        gap: 30px;
    }

    h4 {
        @include px-to-vw('font-size', 24, 20);
        margin-bottom: 10px;
    }

    p {
        &:last-child {
            margin-bottom: 0;
        }

        span {
            display: block;

            &:not(:last-child) {
                margin-bottom: calc($margin * 0.5);
            }
        }
    }
}

.requisites {
    p {
        &:not(:last-child) {
            padding-bottom: $margin;
            border-bottom: 1px solid rgba($color: $white, $alpha: 0.2);

            @media (max-width:1024px) {
                padding-bottom: 10px;
            }
        }
    }
}