.frontpage-loader {
    z-index: 999;
    padding: 20px;
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    inset: 0%;

    // .frontpage-loader__counter
    &__counter {
        height: 1em;
        overflow: hidden;

        div {
            transform: translate(0, 100%);
        }
    }

    .logo {
        background-color: $black;
        overflow: hidden;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        // .logo-loader
        &-loader {
            width: 6rem;
            height: 6rem;
            display: flex;
            align-items: center;
            justify-content: center;

            img,
            svg {
                flex: 0 0 auto;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .loader {

        // .loader-text
        &-text {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-between;
            z-index: 10;
            position: absolute;
            width: 100%;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            background-color: #0000;
            padding: 0 20px;
            display: none;

            div {
                height: 1.2rem;
                overflow: hidden;
            }

            span {}
        }
    }
}

body:not(:has(.frontpage-loader)) {

    .footer {
        background-color: $black;
    }

    .footer__animate,
    .header__animate {
        height: auto;
        overflow: unset;

        .footer__animate-item,
        .header__animate-item {
            transform: none;
        }
    }
}

.main-swiper {
    width: 100%;
    height: 100vh;

    .swiper {
        width: 100%;
        height: 100vh;

        &-wrapper {
            transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
            // transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }

        &-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            height: 100vh;

            a {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: 100%;
                height: 100%;
            }
        }

        // .swiper-pagination
        &-pagination {
            display: flex;
            align-items: center;
            gap: $margin;
        }

        // .swiper-controls
        &-controls {
            position: absolute;
            left: 0;
            bottom: 50%;
            transform: translate(0, 50%);
            z-index: 10;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: calc($margin * 2);

            @media (max-width:1024px) {
                gap: 20px;
            }
        }

        // .swiper-btns
        &-btns {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            padding-inline: $margin;
            transform: translate(0, -105%);

            &.prev {
                left: $margin;
            }

            &.next {
                right: $margin;
            }
        }
    }
}

.words {
    position: fixed;
    left: $margin;
    @include px-to-vw('bottom', 70, 70);
    z-index: 4;
    overflow: hidden;
    pointer-events: none;
    width: 100%;
    @include px-to-vw('font-size', 140, 44);
    height: 1em;

    @media (max-width:1024px) {
        left: 10px;
        bottom: 50px;
    }

    .first-word {
        transform: translate(0, 100%);
    }

    .word {
        display: flex;
        align-items: flex-end;
        align-items: center;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    span {
        white-space: nowrap;
        height: 1.25em;

        i {
            height: 100%;
            display: inline-block;
            font-style: normal;
            transform: translate(0, 100%);
        }
    }
}

.images {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
    z-index: 3;
    transform: translate(0, 10%);

    .image-wrapper {
        z-index: 0;
        will-change: clip-path, transform, width, height;
        transform-origin: left top;
    }

    img,
    div {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
    }
}

.menu {

    // .menu-line
    &-line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: calc($margin / 2) $margin;
        border-top: 1px solid rgba($color: $white, $alpha: 0.4);
        border-bottom: 1px solid rgba($color: $white, $alpha: 0.4);
        transform: translate(0, 105%);

        &._noborder {
            border-bottom-color: transparent;
        }
    }

    // .menu-toggle
    &-toggle {
        width: 24px;
        height: 24px;

        .menu-open {}

        .menu-close {
            display: none;
        }

        &._active {
            .menu-open {
                display: none;
            }

            .menu-close {
                display: block;
            }
        }

        img,
        svg {
            width: 100%;
            height: 100%;
            pointer-events: none;
        }
    }
}

.menu-swiper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    pointer-events: none;

    &._open {}

    .swiper {
        min-height: 0;
        min-width: 0;
        height: 60vh;
        margin: auto 0;
        padding-inline: $margin;

        &-slide {
            margin-top: auto;
            margin-bottom: auto;
            height: 100%;
            position: relative;

            img,
            picture {
                will-change: clip-path;
                clip-path: inset(100% 0% 0% 0%);
                width: 100%;
                height: 100%;
                object-fit: cover;
                pointer-events: none;
            }
        }
    }
}

.overflow {
    overflow: hidden;

    &:has(.swiper-btns) {
        height: 1em;
    }

    &:has(.menu-line) {
        height: 3em;
        min-height: 46px;
    }
}

.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    gap: $margin;

    @media (max-width:1024px) {
        gap: 10px;
    }

    h1 {
        @include px-to-vw('font-size', 24, 20);

        span {
            @include px-to-vw('font-size', 140, 44);
        }
    }
}

.text-box {
    padding-inline: $margin;
    padding-top: calc($margin * 7);
    padding-bottom: calc($margin * 5);

    @media (max-width:1024px) {
        padding-top: 140px;
        padding-bottom: 70px;
        padding-inline: 10px;
    }

    h1 {
        margin-bottom: calc($margin * 3);

        @media (max-width:1024px) {
            margin-bottom: 40px;
        }
    }
}

.privacy {
    display: flex;
    flex-direction: column;
    gap: calc($margin * 2.5);

    @media (max-width:1024px) {
        gap: 30px;
    }

    h4 {
        @include px-to-vw('font-size', 24, 20);
    }

    p {
        &:last-child {
            margin-bottom: 0;
        }

        span {
            display: block;

            &:not(:last-child) {
                margin-bottom: calc($margin * 0.5);
            }
        }
    }
}

.grid {
    display: grid;
    gap: $margin;

    @media (max-width:1024px) {
        gap: 10px;
    }

    &:not(:last-child) {
        padding-bottom: calc($margin * 2.5);
        border-bottom: 1px solid rgba($color: $white, $alpha: 0.2);

        @media (max-width:1024px) {
            padding-bottom: 30px;
        }
    }

    // .grid-2
    &-2 {
        grid-template-columns: repeat(2, 1fr);

        @media (max-width:1024px) {
            grid-template-columns: 1fr;
        }
    }
}

.requisites {
    p {
        &:not(:last-child) {
            padding-bottom: $margin;
            border-bottom: 1px solid rgba($color: $white, $alpha: 0.2);

            @media (max-width:1024px) {
                padding-bottom: 10px;
            }
        }
    }
}